* {
    box-sizing: border-box;
    font-family: Roboto;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
    text-align: justify;
}

h1 {
    color: red;
}

#navbar img {
    width: 50px;
}
